In [ ]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map
numbers = [1, 2, 3, 4, 5]

result = list(map(lambda x: x * 3, numbers))

print(result)

In [3]:
# Write a Python program to add three given lists using Python map and lambda
lst_1 = [1,2,3]
lst_2 = [4,5,6]
lst_3 = [7,8,9]

lst= list(map(lambda x,y,z:x+y+z,lst_1,lst_2,lst_3))
lst

[12, 15, 18]

In [9]:
# Write a Python program to add two given lists and find the difference between lists
from functools import reduce

In [21]:
"""
sample list
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


output  - [(6, 6), (6, 4), (10, -4), (16, 2)]

"""
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


list(map(lambda x,y: (x+y,x-y) , nums1,nums2))

[(6, 6), (6, 4), (10, -4), (16, 2)]

In [40]:
# Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters 
#from a given sequence

def change_cases(s):
    return str(s).upper(), str(s).lower()
 
chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}  # set
print("Original Characters:\n",chrars)
 
result = map(change_cases, chrars)
print("\nAfter converting above characters in upper and lower cases\nand eliminating duplicate letters:")
print(set(result))

Original Characters:
 {'U', 'a', 'o', 'i', 'b', 'E', 'f'}

After converting above characters in upper and lower cases
and eliminating duplicate letters:
{('O', 'o'), ('A', 'a'), ('U', 'u'), ('B', 'b'), ('E', 'e'), ('I', 'i'), ('F', 'f')}

In [52]:
# Filter out the fruits that start with A 

fruits = ["apple", "banana", "apricot", "cherry", "avocado"]

filtered_fruits = list(filter(lambda x:  x.startswith("a"), fruits))

print(filtered_fruits)

['apple', 'apricot', 'avocado']

In [51]:
# Filter out the positve number from a list

positive = [23,45,-65,34,-89,32]

list(filter(lambda x: x>0 , positive))

[23, 45, 34, 32]

In [57]:
# filter out the multiples of 3 and 5 from a list

multiple = [23,45,65,34,89,32]

list(filter(lambda x: x%3==0 , multiple))

[45]

In [67]:
# find the max string using reuduce function
multiple = ['abhay','wanted','to','become','datascientist','mlenginner','sde','sdet']

reduce(lambda x,y: x if len(x) > len(y) else y , multiple)

'datascientist'

In [69]:
# find the mean , max and min of a given list using reduce function

numbers = [10, 20, 30, 40, 50]

mean = reduce(lambda x, y: x + y, numbers)/len(numbers)

maximum = reduce(lambda x, y: x if x > y else y, numbers)
minimum = reduce(lambda x, y: x if x < y else y, numbers)

print("Mean:", mean)
print("Maximum:", maximum)
print("Minimum:", minimum)

Mean: 30.0
Maximum: 50
Minimum: 10